{% extends 'template.html.twig' %}

{% block main %}

    well done <?= $username ?>, you have successfully logged as admin.<br>
    <a href="index.php?action=listUser">list all users</a>

{% endblock %}