{% extends 'template.html.twig' %}

{% block main %}

    Welcome back <?= $username ?>, you have successfully logged as staff.<br>
    <a href="index.php?action=listProduct">list all products</a>

{% endblock %}